// Define variables for your color scheme

// For example:
$white: #FAFAFA;
$blue: #87D2F2;
$light-blue: #D2EEFA;
$red: #F24236;
$light-red: #FAB8B3;
$purple: #7871AA;
$gray: #323232;
$lighter-gray: #666666;
$light-gray: #B3B3B3;
