// Specific CSS for your home-page
body {
  background-color: #323232;
}

.container {
  height: 60vh;
  display: flex;
  justify-content: center;
  padding-left: 15vh;
  padding-right: 15vh;
}

.second-section {
  max-width: -webkit-fill-available;
  background-color: $lighter-gray;
  padding-top: 6.67vh;
  padding-bottom: 6.67vh;
  height: 50vh !important;
  padding-left: 15vh;
  padding-right: 15vh;
  justify-content: space-between;
}

.second-section h3 {
  width: 50%;
}

.second-section h4 {
  color: $blue;
  font-size: 16px;
  word-spacing: 5px;
}

.second-section p {
  width: 70%;
}

a {
  font-family: $headers-font;
}

.second-section-container-left {
  width: 50vw;
  justify-content: space-between;
}

.second-section-container-right {
  width: 50vw;
  justify-content: space-evenly;
}

.half-section {
  max-width: -webkit-fill-available;
  height: 40vh !important;
  padding: 0 !important;
  position: relative;
}

.half-section-container-top {
  height: 50%;
  background-color: $lighter-gray !important;
}

.half-section-container-bottom {
  height: 50%;
  background-color: $gray !important;
}

.third-section {
  max-width: -webkit-fill-available;
  padding-top: 6.67vh;
  margin-bottom: 6.67vh;
  height: 40vh !important;
}

.third-section-container-left {
  width: 50vw;
}

.third-section-container-right {
  width: 50vw;
}
.top-right-section {
  justify-content: space-between;
}

.top-section {
  padding: 0px;
  margin-left: 15vh;
  margin-right: 15vh;
  max-width: -webkit-fill-available;
  margin-bottom: 3.33vh;
}

.bottom-container {
  margin-top: 6.66vh;
}


h1 {
  font-size: 80px;
  color: #FAFAFA;
}

h2, h3, h5 {
  color: #FAFAFA;
}

h4 {
  color: $light-gray;
  font-size: 18px;
}

p {
  color: $light-gray;
}

#homepage-h1 {
  width: 50px;
}

#line-homepage {
  color: $blue;
  height: 5px;
  width: 54px;
  opacity: 1;
}

.h1-and-line {
  justify-content: center;
}

.social-icons {
}

#social-icons-homepage a {
  color: $white !important;
}

.social-icons a {
  font-size: 22px;
  margin-right: 6px;
}

.social-icons-container {
  width: 66.666%;
}

.homepage-card-container {
  position: absolute;
  align-items: center;
  width: 100%;
}

.second-bottom-left {
  width: 50%;
}

.second-bottom-right {
  width: 50%;
}

.homepage_image {
  height: 100vh;
  z-index: -3;
  position: absolute;
  left: 22vw;
  top: 0vh;
}
