// Specific CSS for your home-page
body {
  background-color: #323232;
  margin-top: 6.67vh;
  margin-left: 15vh;
  margin-right: 15vh;

}

.container {
  height: 50vh;
  display: flex;
  justify-content: center;
}

.2nd-container {
  height: 2000px;
  display: flex;
  justify-content: center;
  background-color: $lighter-gray !important;
}

.top-right-section {
  justify-content: space-between;
}

.top-section {
  padding: 0px;
  margin-left: 0px;
  margin-right: 0px;
}

.bottom-container {
  margin-top: 6.66vh;
}


h1 {
  font-size: 80px;
  color: #FAFAFA;
}

h2, h3, h5 {
  color: #FAFAFA;
}

h4 {
  color: $light-gray;
  font-size: 18px;
}

p {
  color: $light-gray;
}

#homepage-h1 {
  width: 50px;
}

#line-homepage {
  color: $blue;
  height: 5px;
  width: 54px;
  opacity: 1;
}

.h1-and-line {
  justify-content: center;
}

.social-icons {
}

#social-icons-homepage a {
  color: $white !important;
}

.social-icons a {
  font-size: 22px;
  margin-right: 6px;
}

.social-icons-container {
  width: 66.666%;
}
