<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to "#", class: "navbar-brand" do %>
  <svg width="40" height="40" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="375pt" height="374.999991pt" viewBox="0 0 375 374.999991" version="1.2">
  <defs>
  <clipPath id="clip1">
    <path d="M 0 15.683594 L 375 15.683594 L 375 359.183594 L 0 359.183594 Z M 0 15.683594 "/>
  </clipPath>
  </defs>
  <g id="surface1">
  <g clip-path="url(#clip1)" clip-rule="nonzero">
  <path style=" stroke:none;fill-rule:nonzero;fill:rgb(52.938843%,82.348633%,94.898987%);fill-opacity:1;" d="M 359.398438 15.375 L 15.601562 15.375 C 7.054688 15.375 0.0820312 22.347656 0.0820312 30.894531 L 0.0820312 344.105469 C 0.0820312 352.652344 7.054688 359.625 15.601562 359.625 L 359.398438 359.625 C 367.945312 359.625 374.917969 352.652344 374.917969 344.105469 L 374.917969 30.894531 C 374.917969 22.347656 367.945312 15.375 359.398438 15.375 Z M 227.90625 106.761719 C 224.910156 104.8125 224.007812 100.835938 225.957031 97.839844 C 227.90625 94.839844 231.878906 94.015625 234.878906 95.890625 L 326.9375 155.265625 C 328.8125 156.464844 329.863281 158.488281 329.863281 160.660156 C 329.863281 162.835938 328.738281 164.933594 326.9375 166.058594 L 234.953125 225.433594 C 233.90625 226.109375 232.628906 226.484375 231.429688 226.484375 C 229.332031 226.484375 227.234375 225.433594 226.03125 223.558594 C 224.085938 220.5625 224.984375 216.585938 227.980469 214.636719 L 311.496094 160.738281 Z M 128.277344 281.957031 L 47.835938 281.957031 C 44.238281 281.957031 41.386719 279.035156 41.386719 275.511719 C 41.386719 271.988281 44.3125 269.0625 47.835938 269.0625 L 128.277344 269.0625 C 131.875 269.0625 134.722656 271.988281 134.722656 275.511719 C 134.722656 279.035156 131.800781 281.957031 128.277344 281.957031 Z M 143.34375 214.636719 C 146.34375 216.585938 147.167969 220.5625 145.292969 223.558594 C 144.019531 225.507812 141.996094 226.484375 139.820312 226.484375 C 138.621094 226.484375 137.421875 226.183594 136.296875 225.433594 L 44.3125 166.132812 C 42.4375 164.933594 41.386719 162.910156 41.386719 160.738281 C 41.386719 158.5625 42.511719 156.464844 44.3125 155.339844 L 136.296875 95.964844 C 139.296875 94.015625 143.269531 94.914062 145.21875 97.914062 C 147.167969 100.914062 146.269531 104.886719 143.269531 106.835938 L 59.753906 160.738281 Z M 156.613281 227.980469 C 153.238281 226.707031 151.589844 223.035156 152.863281 219.660156 L 198.746094 97.238281 C 200.019531 93.867188 203.691406 92.214844 207.066406 93.492188 C 210.441406 94.765625 212.089844 98.4375 210.816406 101.8125 L 164.933594 224.234375 C 163.960938 226.859375 161.488281 228.433594 158.863281 228.433594 C 158.113281 228.355469 157.363281 228.28125 156.613281 227.980469 Z M 327.164062 281.957031 L 170.332031 281.957031 C 166.734375 281.957031 163.886719 279.035156 163.886719 275.511719 C 163.886719 271.988281 166.808594 269.0625 170.332031 269.0625 L 327.164062 269.0625 C 330.761719 269.0625 333.609375 271.988281 333.609375 275.511719 C 333.609375 279.035156 330.6875 281.957031 327.164062 281.957031 Z M 327.164062 281.957031 "/>
  </g>
  </g>
  </svg>
<% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <%= link_to "Projects", projects_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "Contact", contact_path, class: "nav-link" %>
      </li>
    </ul>
  </div>
</div>
