<div class="container top-section d-flex">
  <div class="top-left-section">
    <h1>Oliver Kyte.</h1>
    <div class="social-icons"></div>
  </div>
  <div class="top-right-section">
    <h4>-Introduction</h4>
    <h3>Web Developer & SEO Consultant, based in London</h3>
    <p>Description... Insert description here</p>
  </div>
</div>
